@page "/locks/assets"

@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.False">
    <div class="d-flex">
        <MudHidden Breakpoint="Breakpoint.SmAndUp">
            <MudText Class="mr-2 align-self-center" Typo="Typo.h5" GutterBottom="false">Locked Assets</MudText>
            <MudIconButton Class="align-self-center" Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" />
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.Xs">
            <MudText Class="mr-4 align-self-center" Typo="Typo.h4" GutterBottom="false">Locked Assets</MudText>
            <MudIconButton Class="align-self-center" Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" />
        </MudHidden>
    </div>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
    @if (!IsLoaded)
    {
        //skeleton
    }
    else
    {
        <MudPaper Square="true" Elevation="10" Class="grey darken-4">
            <MudTable Items="@AssetCounters" Class="mx-0 grey darken-4" FixedHeader="true" Breakpoint="Breakpoint.None">
                <HeaderContent>
                    <MudTh>Asset</MudTh>
                    <MudTh>Locked Amount</MudTh>
                    <MudTh>Unlocked Amount</MudTh>
                </HeaderContent>
                <RowTemplate>
                    @if (@context.AssetToken == null)
                    {
                        <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                        <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                        <MudTd><MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" /></MudTd>
                    }
                    else
                    {
                        <MudTd>
                            <div>
                                <MudText Color="Color.Primary" Class="cursor-pointer" @onclick="(() => InvokeAssetLockPreviewerModal(context))">
                                    <b>
                                    @context.AssetToken.Name (@context.AssetToken.Symbol)
                                    </b>
                                 </MudText>
                                <MudText Typo="Typo.caption">@context.AssetToken.AssetScriptHash.ToString()</MudText>
                            </div>
                        </MudTd>
                        <MudTd>
                            @context.LockedAmountDisplay
                        </MudTd>
                        <MudTd>
                            @context.UnlockedAmountDisplay
                        </MudTd>
                    }
            </RowTemplate>
        </MudTable>
    </MudPaper>
    }

</MudContainer>
