@page "/assets"

@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.False">
    <div class="d-flex">
        <MudHidden Breakpoint="Breakpoint.SmAndUp">
            <MudText Class="mr-2 align-self-center" Typo="Typo.h5" GutterBottom="false">My Assets</MudText>
            <MudIconButton Class="align-self-center" Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" OnClick="FetchAddressBalancesAsync" />
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.Xs">
            <MudText Class="mr-4 align-self-center" Typo="Typo.h4" GutterBottom="false">My Assets</MudText>
            <MudIconButton Class="align-self-center" Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" OnClick="FetchAddressBalancesAsync" />
        </MudHidden>
    </div>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
    @if (!IsLoaded)
    {
        //skeleton
    }
    else
    {
        <MudPaper Square="true" Elevation="10" Class="grey darken-4">

            <MudTable Items="@AddressBalances" Class="mx-0 grey darken-4" Breakpoint="Breakpoint.None" FixedHeader="true">
                <HeaderContent>
                    <MudTh>Address</MudTh>
                    <MudTh>NEO</MudTh>
                    <MudTh>GAS</MudTh>
                    <MudTh>@PlatformToken.Symbol</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd><span class="cursor-pointer" @onclick="(() => InvokeAssetsPreviewerModal(context.Address))">@context.Address</span></MudTd>
                    <MudTd>
                        <span>
                            @if (string.IsNullOrEmpty(@context.NEOBalanceDisplay))
                            {
                                <MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" />
                            }
                            else
                            {
                                @context.NEOBalanceDisplay
                            }
                        </span>
                    </MudTd>
                    <MudTd>
                        <span>
                            @if (string.IsNullOrEmpty(@context.GASBalanceDisplay))
                            {
                                <MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" />
                            }
                            else
                            {
                                @context.GASBalanceDisplay
                            }
                        </span>
                    </MudTd>
                    <MudTd>
                        <span>
                            @if (string.IsNullOrEmpty(@context.PlatformTokenBalanceDisplay))
                            {
                                <MudSkeleton Height="20px" Width="90px" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" />
                            }
                            else
                            {
                                @context.PlatformTokenBalanceDisplay
                            }
                        </span>
                    </MudTd>
            </RowTemplate>
        </MudTable>

    </MudPaper>
    }

</MudContainer>
