@if (IsLoaded)
{
    @if (!IsAuthenticated)
    {
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudChip Class="ml-1" Color="Color.Secondary" Variant="Variant.Text">
                @Network
            </MudChip>

            <MudChip Class="ml-1" Color="Color.Secondary" Variant="Variant.Text">
                @RpcUrl
            </MudChip>
        </MudHidden>
    }

    <MudSpacer />
    if (!IsAuthenticated)
    {
        <MudButton OnClick="InvokeConnectWalletModal" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small">Connect NEP6 Wallet</MudButton>
    }
    else
    {
        @if (IsPlatformTokenLoaded && IsPlatformTokenOnSale)
        {
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <MudChip Class="ml-1" Color="Color.Secondary" Variant="Variant.Text">
                    1 NEO ≈ @PlatformTokensPerNEO @PlatformTokenSymbol
                </MudChip>
                <MudChip Class="ml-1" Color="Color.Secondary" Variant="Variant.Text">
                    1 GAS ≈ @PlatformTokensPerGAS @PlatformTokenSymbol
                </MudChip>
                <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                    <ActivatorContent>
                        <MudChip Class="cursor-pointer" Color="Color.Info">Buy @PlatformTokenSymbol</MudChip>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem OnClick="@(() => InvokeBuyPlatformTokenModal("NEO"))">Buy with NEO</MudMenuItem>
                        <MudMenuItem OnClick="@(() => InvokeBuyPlatformTokenModal("GAS"))">Buy with GAS</MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudHidden>
        }

        <MudMenu Class="ml-3" AnchorOrigin="Origin.BottomRight" Label="Connected" TransformOrigin="Origin.TopRight" StartIcon="@Icons.Material.Filled.ConnectedTv" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Filled" Color="Color.Primary">
            <ChildContent>
                <MudMenuItem Class="cursor-default"><span>@Network</span> <span>(@RpcUrl)</span></MudMenuItem>
                @if (IsPlatformTokenLoaded && IsPlatformTokenOnSale)
                {
                    <MudHidden Breakpoint="Breakpoint.MdAndUp">
                        <MudMenuItem OnClick="@(() => InvokeBuyPlatformTokenModal("NEO"))">Buy with NEO (1 NEO ≈ @PlatformTokensPerNEO @PlatformTokenSymbol)</MudMenuItem>
                        <MudMenuItem OnClick="@(() => InvokeBuyPlatformTokenModal("GAS"))">Buy with GAS (1 GAS ≈ @PlatformTokensPerGAS @PlatformTokenSymbol)</MudMenuItem>
                    </MudHidden>
                }
                <MudMenuItem OnClick="@(() => InvokeDisconnectWalletDialog())">Disconnect Wallet</MudMenuItem>
            </ChildContent>
        </MudMenu>
    }
}
